<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout__title">
    Zootally
    </span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      {% include "partials/top_bar_links.html" %}
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">
    Zootally
  </span>
  <nav class="mdl-navigation">
  {% include "partials/top_bar_links.html" %}
  </nav>
</div>
