/* TODO: look into materialize css framework https://materializecss.com */

/* give main content a little margin */

main {
  margin: 5px 0 5px 0;
}

.mdl-mini-footer {
  padding: 5px 10px;
}

/* override style of footer taking more vertical space */

.mdl-logo {
  float: left;
  margin-bottom: 0;
  margin-right: 16px;
}

.mdl-mini-footer--link-list li,
.mdl-mini-footer__link-list li {
  line-height: 36px;
}

form li {
  list-style: none;
}

form ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-align {
  text-align: right;
}

/* for message list */
ul.message {
  padding: 0;
  margin: 0;
}

ul.message li {
  display: block;
}

/* form errors */

.errorlist {
  margin: 10px 0px;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}

input[type="submit"] {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

.narrow-count {
  width: 4ch;
}

table {
  border-spacing: 0;
}

tr:nth-child(even) {
  background: #ccc;
  /* background:  */
}

thead {
  background: #444;
  /* background: rgb(64, 88, 102); */
  color: #eee;
}

input[type="number"] {
  height: 30px;
}

input[type="number"]:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 30px;
}
