/* give main content a little margin */

main {
  margin-left: 30px;
  margin-top: 5px;
}

.mdl-mini-footer {
  padding: 10px 5px;
}

/* override style of footer taking more vertical space */

.mdl-logo {
  float: left;
  margin-bottom: 0;
  margin-right: 16px;
}

.mdl-mini-footer--link-list li,
.mdl-mini-footer__link-list li {
  line-height: 36px;
}
