{% extends "base.html" %}

{% block title %}Animal counts{% endblock %}

{% block content %}

{% if animal.photo %}
<img src="{{animal.photo.photo.url}}" alt="{{animal.accession_number}}">
{{animal.photo.photo.url}}
{% else %}
no image
{% endif %}

<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12 truncate">
            <a href="{% url 'home' %}" class="breadcrumb">Enclosures</a>
            <a href="{% url 'count' enclosure.slug %}" class="breadcrumb">{{enclosure}}</a>
            <a href="#" class="breadcrumb">{% if animal.name %}{{animal.name}}{% else %}{{animal.accession_number}}{% endif %}</a>
        </div>
    </div>
</nav>

{% include "partials/_chartjs_script_tag.html" %}

<div id="chart-text-container">

    <div>
        <p><b>Animal Accession Number:</b> {{animal.accession_number}}</p>
        {% if animal.name %}
        <p><b>Name:</b> {{animal.name}}</p>
        {% endif %}
        {% if animal.identifier %}
        <p><b>Identifier:</b> {{animal.identifier}}</p>
        {% endif %}
        <p><b>Common name:</b> {{animal.species.common_name}}</p>
        <p><b>Species:</b> <em>{{animal.species.genus_name}} {{animal.species.species_name}}</em></p>
        <p><b>Enclosure:</b> <a href="{%url 'count' enclosure.slug %}">{{enclosure.name}}</a></p>
        <p><b>Sex:</b> {{animal.sex}}</p>
    </div>

    <div id="chart-div">
        {% if animal_counts %}
        {% include "pie_chart.html" with labels=chart_labels data=chart_data title="Conditions" %}
        {% endif %}

    </div>
</div>


{% if animal_counts %}
<table class="striped">
<thead>
<tr>
    <th>Date
    <th>Condition
    <th>Comment
    <th>User
    <th>
</tr>
</thead>
<tbody>
{% for count in animal_counts %}
    <tr>
    <td>{{count.datetimecounted}}
    <td class="condition-{{count.condition}}">{{count.get_condition_display}}
    <td>{{count.comment}}
    <td>{{count.user.first_name}} {{count.user.last_name}}
    <td><a href="{% url 'edit_animal_count' animal=animal.accession_number year=count.datetimecounted|date:'Y' month=count.datetimecounted|date:'m' day=count.datetimecounted|date:'d' %}"><i class="material-icons">edit</i></a>
    </tr>
{% endfor %}
</tbody>
</table>

{% include "paginate_counts.html" with page_items=animal_counts %}

{% endif %}

{% endblock %}
