<td>
{% if anim.name %}
    <a href="{% url 'animal_counts' animal=anim.accession_number %}">{{anim.name}}</a>
    <em>({{anim.sex}})</em><br />
{% endif %}
{% if not anim.name %}
    <a href="{% url 'animal_counts' animal=anim.accession_number %}">{{anim.accession_number}}</a>
    <em>({{anim.sex}})</em>
{% else %}
    {{anim.accession_number}}
{% endif %}
<br />{{anim.identifier}}
{% if anim.photo and anim.photo.image %}
    <br />
    <a href="#show_image">
        <i class="material-icons orange-text"
            onclick="activate_animal_photo('{{anim.accession_number}}', '{{anim.photo.image.url}}')">photo</i>
    </a>
    <div class="material-placeholder">
        <img id="photo_{{anim.accession_number}}" src="#placeholder" class="materialboxed"
            style="display: none" width="300">
    </div>
{% endif %}
</td>

<td id="species_{{anim.species.id}}_animal_condition_form">

{% for hidden in form.hidden_fields %}
    {{ hidden.errors }}
    {{ hidden }}
{% endfor %}

{% include "condition_form_snippet.html" with field=form.condition %}

</td>
{% for pcond in prior_conditions %}
<td>
    <p>
    {% if pcond.count %}
        <span class="condition-{{pcond.count.condition}}">
            {{pcond.count.get_condition_display}}
    {% else %}
        <span class="condition-">
            Not Obs
    {% endif %}
    </span>
    <a href="{% url 'edit_animal_count' animal=anim.accession_number year=pcond.day.year month=pcond.day.month day=pcond.day.day %}">
    <i class="material-icons tiny-small grey-text text-darken-4">edit</i>
    </a>
    </p>
    {% if pcond.count and pcond.count.comment %}
        <div class="condition-comment-p left-align">{{pcond.count.comment|escape|linebreaks}}</div>
    {% endif %}
</td>
{% endfor %}
