{% if animal.photo and animal.photo.image %}
<form action="{% url 'delete_animal_photo' animal.photo.uuid %}" method="post">
{% csrf_token %}
<input type="submit" value="DELETE">
</form>
{% endif %}

<div class="animal-photo">
    <img id="animal_image_frame" src=
    {% if animal.photo and animal.photo.image %}
        "{{animal.photo.image.url}}" alt="Photo for animal {{animal.accession_number}}"
    {% else %}
        "" alt="No image"
    {% endif %}
    >
</div>

<form action="{% url 'animal_photo' animal.photo.uuid %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_image">Image:</label>
    <input type="file" name="image" accept="image/*" required="" id="id_image" onchange="preview(this)">
    <input type="hidden" name="animal" value="{{animal.id}}" id="id_animal">
    <input type="submit" value="Save">
</form>
