{% extends 'base.html' %}

{% block title %}Edit Species Count{% endblock %}

{% block content %}

<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12 truncate">
            <a href="{% url 'home' %}" class="breadcrumb">Enclosures</a>
            <a href="{% url 'count' enclosure.slug %}" class="breadcrumb">{{enclosure}}</a>
            <a href="#" class="breadcrumb">Edit species count</a>
        </div>
    </div>
</nav>

<p><b>Common name:</b> <a href="{% url 'species_counts' species.slug enclosure.slug %}">{{species.common_name}}</a></p>
<p><b>Species:</b> <em>{{species.genus_name}} {{species.species_name}}</em></p>
<p><b>Enclosure:</b> <a href="{%url 'count' enclosure.slug %}">{{enclosure.name}}</a></p>
<p><b>Date:</b> {{dateday.date}}</p>
<p><b>User:</b>
{% if count.user %}
    {{count.user}}
{% else %}
    None
{% endif %}
</p>

<form action="{% url 'edit_species_count' species.slug enclosure.slug dateday.year dateday.month dateday.day %}" method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {{ form.count.errors }}
    <p><b>{{form.count.label}}</b>: 
    {% include "increment_decrement_buttons.html" with formfield=form.count %}
    </p>

    <p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
    </p>
</form>

{% endblock %}