{% extends "base.html" %}

{% block title %}Species counts{% endblock %}

{% block content %}

<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12 truncate">
            <a href="{% url 'home' %}" class="breadcrumb">Enclosures</a>
            <a href="{% url 'count' enclosure.slug %}" class="breadcrumb">{{enclosure}}</a>
            <a href="#" class="breadcrumb">{{obj.common_name}}</a>
        </div>
    </div>
</nav>

{% include "partials/_chartjs_script_tag.html" %}

<div id="chart-text-container">

    <div>
        <p><b>Common name:</b> {{obj.common_name}}</p>
        <p><b>Species name:</b> <em>{{obj.genus_name}} {{obj.species_name}}</em></p>
        <p><b>Family:</b> {{obj.family_name}}</p>
        <p><b>Order:</b> {{obj.order_name}}</p>
        <p><b>Class:</b> {{obj.class_name}}</p>
        <p><b>Enclosure:</b> <a href="{%url 'count' enclosure.slug %}">{{enclosure}}</a></p>
    </div>

    <div id="chart-div" class="center-align">

        {% if chart_data_pie %}

        <div id="line-chart-opt" style="display: block">
            {% include "line_chart.html" with labels=chart_labels_line title="Counts per day (last 100)" %}
        </div>

        <div id="pie-chart-opt" style="display: none">
            {% include "pie_chart.html" with data=chart_data_pie labels=chart_labels_pie title="Total counted (last 100)" %}
        </div>

        <p>Chart:
        <a class="waves-effect waves-light btn-small disabled" href="#" id="line-chart-opt-btn" onclick="chartVisible('line-chart-opt')">Line</a>
        <a class="waves-effect waves-light btn-small" href="#" id="pie-chart-opt-btn" onclick="chartVisible('pie-chart-opt')">Pie</a>
        </p>

        {% endif %}

    </div>

</div>

{% if counts %}

<table class="striped">
<thead>
<tr>
    <th>Date
    <th>Count
    <th>User
    <th>
</tr>
</thead>
<tbody>
{% for count in counts %}
    <tr>
    <td>{{count.datetimecounted}}
    <td>{{count.count}}</td>
    <td>{{count.total}}
    <td>{{count.user.first_name}} {{count.user.last_name}}
    <td><a href="{% url 'edit_species_count' species_slug=obj.slug enclosure_slug=enclosure.slug year=count.datetimecounted|date:'Y' month=count.datetimecounted|date:'m' day=count.datetimecounted|date:'d' %}"><i class="material-icons">edit</i></a>
    </tr>
{% endfor %}
</tbody>
</table>

{% include "paginate_counts.html" with page_items=counts %}

{% endif %}

{% endblock %}