{% extends 'base.html' %}

{% block title %}Count{% endblock %}

{% block content %}

{% load template_tags %}

<div class="breadcrumbs-date-picker" style="display: flex">
    <nav class="clean" style="flex: 1">
        <div class="nav-wrapper">
            <div class="col s12 truncate">
            <a href="{% url 'home' %}" class="breadcrumb">Enclosures</a>
            <a href="{% url 'count' enclosure.slug %}" class="breadcrumb">{{enclosure}}</a>
            </div>
        </div>
    </nav>

    <div class="right-align" style="flex: 1">
        <form action="{% url 'tally_date_handler' enclosure.slug %}" method="post" id="datepicker_form">
            {{ dateform.non_field_errors }}
            {% csrf_token %}
            Edit tally on date
            <div class="input-field inline">
                <input id="id_tally_date" name="tally_date" type="text" class="datepicker inline"
                    style="width:10ch" options="format:yyyy-mm-dd'">
            </div>
            <button type="submit" class="hide btn btn-flat btn-small blue lighten-4">
                <i class="material-icons">send</i>
            </button>
        </form>
    </div>
</div>

{{species_formset.non_form_errors}}
{{animals_formset.non_form_errors}}
{{groups_formset.non_form_errors}}

<form action="{% url 'count' enclosure.slug dateday.year dateday.month dateday.day %}" method="post">
    {% csrf_token %}
    {{species_formset.management_form}}
    {{animals_formset.management_form}}
    {{groups_formset.management_form}}

    <table class="striped">
    <thead class="tally-table-head">
        <tr>
            <th class="blue-grey lighten-4">Name</th>
            <th class="blue-grey lighten-4">
                {% now "Y-m-d" as todays_date %}
                {% if todays_date != dateday|date:"Y-m-d" %}
                    {{dateday|date:"M d"}}
                {% else %}
                    Today's Count
                {% endif %}
            </th>
            {% for i in -1|range:"-4,-1" %}
                <th class="blue-grey lighten-4">{{i|addDays:dateday|date:"M d"}}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody class="tally-table-body">
    {% for spec_dict in formset_order.values %}
        {% include "species_count_form_snippet.html" with form=spec_dict.formset species=spec_dict.species prior_counts=spec_dict.prior_counts group_form=spec_dict.group_forms %}

        {% for group_form_dict in spec_dict.group_forms %}
            <tr class="green lighten-4 group_table_row">
                {% include "group_form_snippet.html" with form=group_form_dict.form group=group_form_dict.group prior_counts=group_form_dict.prior_counts %}
            </tr>
        {% endfor %}

        {% if spec_dict.animals.count > 1 %}
            <tr>
            <td></td>

            <td>
            <span class="input-field condition-fill">
            <select class="condition-fill-select" onchange="fill_conditions(this)" id="condition-fill-{{spec_dict.species.id}}">
                <option value="fill" disabled selected>Fill cond.</option>
                {% for cond in conditions %}
                    <option value="{{cond.0}}">{{cond.1}}</option>
                {% endfor %}
            </select>
            </span>
            </td>

            <td></td>
            <td></td>
            <td></td>
            </tr>
        {% endif %}

        {% for dd in spec_dict.animals_form_dict_list %}
            <tr>
            {% include "animal_form_snippet.html" with anim=dd.animal form=dd.form prior_conditions=dd.prior_conditions %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
    </table>

    <div class="fixed-action-btn">
        <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
            <i class="material-icons">send</i>
        </button>
    </div>
</form>

{% endblock %}
