django==3.0.8
django-allauth==0.42.0
gunicorn==20.0.4
uvicorn==0.11.6
pandas==1.0.5
xlrd==1.2.0
django_heroku==0.3.1
whitenoise[brotli]==5.1.0
psycopg2==2.8.5
django-extensions==3.0.3  # using for auto-slug field
XlsxWriter==1.2.9
django-debug-toolbar
