dj-database-url
django-allauth
django-extensions  # using for auto-slug field
django<4.2
gunicorn
openpyxl
pandas
psycopg2-binary
python-dotenv
uvicorn[standard]
whitenoise[brotli]
django-browser-reload
