html {
  font-family: "Roboto", sans-serif;
}

/* give main content a little margin */
main {
  margin: 5px;
}

form li {
  list-style: none;
}

form ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-align {
  text-align: right;
}

/* for message list */
ul.message {
  padding: 0;
  margin: 0;
}

ul.message li {
  display: block;
}

/* form errors */

.errorlist {
  margin: 10px 0px;
  padding: 12px;
  color: #d8000c;
  background-color: #ffd2d2;
}

input[type="submit"] {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

table.responsive-table .narrow-count {
  width: 4ch;
}

table {
  border-spacing: 0;
}

tr:nth-child(even) {
  background: #ccc;
  /* background:  */
}

thead {
  background: #444;
  /* background: rgb(64, 88, 102); */
  color: #eee;
}

input[type="number"] {
  height: 30px;
}

input[type="number"]:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 30px;
}

.edit {
  height: 20px;
}

.edit_group {
  display: flex;
  flex-direction: row;
}

.edit_group span {
  text-align: center;
  flex: auto;
}

.group_prior_counts {
  display: flex;
  flex-direction: row;
}

.group_prior_counts span {
  flex: auto;
}
