html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* override materialize */
.collection a.collection-item:not(.active):hover {
  background-color: #bbdefb !important;
}

/* for message list */
.msg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border: 1px solid;
  padding: 10px 40px;
  margin: 20px;
  color: grey;

  opacity: 1;

  animation: fade 3s linear;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.msg-error {
  /* rouge */
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}
.msg-alert {
  /* orange */
  border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}

.msg-info {
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

.msg-success {
  border-color: #a5d6a7;
  background-color: #a5d6a7;
  color: black;
}

.msg-.debug {
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

/* form errors */
.errorlist {
  margin: 10px 0px;
  padding: 12px !important;
  color: #d8000c;
  background-color: #ffd2d2;
}

/* breadcrumbs */
.clean {
  background: none;
  box-shadow: none;
}
.breadcrumb {
  color: rgba(0, 0, 0, 0.7);
}
.breadcrumb:before {
  color: rgba(0, 0, 0, 0.7);
}
.breadcrumb:last-child {
  color: rgba(0, 0, 0, 1);
}

/* format of enclosure listing */
.enclosure_list td,
.enclosure_list th {
  vertical-align: middle;
}

.encl_list_detailed_table {
  margin-top: 1rem;
}

.encl_list_detailed_table td {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* format of tally table */
table {
  margin-bottom: 1rem;
}

table.striped > tbody > tr.species {
  background: #444;
  color: #eee;
}

td,
th {
  line-height: 1rem;
  border-radius: 0;
  vertical-align: top;
}

/* form stuff */

input[type="range"] {
  border: 1px solid transparent;
}

.checkbox-red[type="checkbox"]:checked + span:not(.lever)::before {
  border-right: 2px solid #d8000c;
  border-bottom: 2px solid #d8000c;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  padding-left: 25px;
}

/* remove the number spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  text-align: center;
}

table.striped .narrow-count {
  border-bottom: 0;
}

table.striped tbody tr.species input {
  color: white;
}

table.striped thead .narrow-count {
  color: #eee;
}

form table p {
  margin: 0;
  text-align: center;
}

form table thead tr th:nth-child(n + 2) {
  text-align: center;
}

form table p > input[type="number"]:not(.browser-default) {
  margin: 0;
}

/* BAR  blue darken-2*/
label [type="radio"][value="BA"]:checked + span::after {
  background-color: #1976d2;
  border: 2px solid #1976d2;
}
label [type="radio"][value="BA"]:checked + span,
.condition-BA {
  color: #1976d2;
}

/* Seen teal lighten-1 */
label [type="radio"][value="SE"]:checked + span::after {
  background-color: #26a69a;
  border: 2px solid #26a69a;
}
label [type="radio"][value="SE"]:checked + span,
.condition-SE {
  color: #26a69a;
}

/* Needs Attention red darken-2 */
label [type="radio"][value="NA"]:checked + span::after {
  background-color: #d32f2f !important;
  border: 2px solid #d32f2f !important;
}
label [type="radio"][value="NA"]:checked + span,
.condition-NA {
  color: #d32f2f;
}

/* Absent orange darken-2 */
label [type="radio"][value="NS"]:checked + span::after {
  background-color: #f57c00 !important;
  border: 2px solid #f57c00 !important;
}
label [type="radio"][value="NS"]:checked + span,
.condition-NS {
  color: #f57c00;
}

/* Not observed grey lighten-1 */
label [type="radio"][value=""]:checked + span::after {
  background-color: #757575 !important;
  border: 2px solid #757575 !important;
}
label [type="radio"][value=""]:checked + span,
.condition- {
  color: #757575;
}

.condition-comment-p {
  margin-top: 1rem;
}

.condition-comment-p p {
  text-align: left;
}

/* form ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* input[type="number"] {
  height: 30px;
} */

/* input[type="number"]:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 30px;
} */

/* edit pages */

.tiny-small {
  font-size: 1.3rem;
  /* color: #222; */
}

.edit {
  height: 20px;
}

.edit_group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.edit_group span {
  flex: auto;
}

.group_table_row .prior_count_td {
  padding: 15px 0;
}

.group_prior_counts div.group_prior_count_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1rem 0.1rem;
}

.edit_group_prior_count {
  position: absolute;
  top: 8.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.condition-radio {
  display: flex;
  flex-direction: column;
}

.condition-radio span {
  flex: auto;
}

.flex-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-items span {
  width: max-content;
  /* flex: auto; */
  margin: 3px;
  font-style: italic;
}

.increment-buttons {
  display: inline-flex;
  flex-direction: column;
}

a.increment {
  width: 20px !important;
  height: 20px !important;
  margin-top: 0.25rem;
}

a.increment i {
  font-size: 20px !important;
  line-height: 20px !important;
}

#chart-text-container {
  display: flex;
  flex-direction: column;
}

#chart-text-container > * {
  flex: 1;
}

#chart-div {
  max-width: 300px;
}

#pie-chart,
#line-chart {
  max-width: 300px;
  max-height: 300px;
}

.breadcrumbs-date-picker {
  flex-direction: column;
}

.tally-table-head th {
  position: sticky;
  top: 56px;
  z-index: 2;
}

.condition-comment {
  margin-top: 1.6rem;
  margin-bottom: 0rem;
  display: none;
}

/* media queries */
@media only screen and (min-width: 1150px) {
  .condition-radio {
    flex-direction: row;
  }
}

@media only screen and (min-width: 830px) {
  .breadcrumbs-date-picker {
    flex-direction: row;
  }
}

@media only screen and (min-width: 601px) {
  .tally-table-head th {
    top: 64px;
  }

  .group_prior_counts div.group_prior_count_items {
    padding: 0.5rem 0.5rem;
  }

  .group_table_row .prior_count_td {
    padding: inherit;
  }
}

@media only screen and (min-width: 560px) {
  #chart-text-container {
    flex-direction: row;
  }
}
