{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <h2>Hi {{ user.username }}</h2>

  <p>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'count' %}">
  Count animals
  </a>
  </p>

  {% if user.is_superuser %}
  <p>
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button" href="{% url 'admin:index' %}">
  Admin
  </a>
  </p>
  {% endif %}
{% else %}
    {% include "partials/login_message.html" %}
{% endif %}
</ul>

{% endblock %}