<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen,projection"/>
</head>

<body>
  <header>
    {% include "partials/top_bar.html" %}
  </header>
  
  <main>
    <div class="container">
      {% for message in messages %}
        <div class="msg msg-{% if message.tags %}{{ message.tags }}{% endif %} z-depth-3">
          {{ message }}
        </div>
      {% endfor %}

      {% block content %}
      {% endblock %}
    </div>
  </main>

  <footer class="page-footer red lighten-4">
    <div class="container">
      <div class="row">
        <a href="mailto:support@zootable.com" class="grey-text text-darken-2">Contact Zootable</a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
</body>
</html>