{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row" style="margin-top: 10px">
  <div class="col s8">
  {% if cts_dict.keys %}
    <table class="striped centered enclosure_list">
      <thead>
        <th></th>
        <th></th>
        <th>Individuals</th>
        <th>Groups</th>
      </thead>

    {% for enclosure, encl_counts_dict in cts_dict.items %}
      <tr>
        <td style="text-align:right">
          <a class="black-text" href="{% url 'count' enclosure.slug %}">
            <b>{{enclosure}}</b>
          </a>
        </td>

        <td style="text-align:right">
        <a class="btn-floating btn-small" href="{% url 'count' enclosure.slug %}">
          <i class="small material-icons">chevron_right</i>
        </a>
        </td>

        <td style="vertical-align:top">
          {% if enclosure.animals.all|length > 0 %}
            <a onclick="display_detail_table('.{{enclosure.slug}}_detail_table')" href="javascript:;">
              {{encl_counts_dict.animal_count_total}}
              / {{encl_counts_dict.total_animals}}
            </a>

            <span style="display:none" class="{{enclosure.slug}}_detail_table">
              <table class="encl_list_detailed_table">
              {% for cond, cond_cts in encl_counts_dict.animal_conditions.items %}
              <tr>
                <td><b>{{cond}}</b></td>
                <td>{{cond_cts|length}}</td>
              </tr>
              {% endfor %}
              </table>
            </span>
          {% else %}
            — / —
          {% endif %}
        </td>

        <td style="vertical-align:top">
          {% if enclosure.groups.all|length > 0 %}
            <a onclick="display_detail_table('.{{enclosure.slug}}_detail_table')" href="javascript:;">
              {{encl_counts_dict.group_count_total}}
              / {{encl_counts_dict.total_groups}}
            </a>

            <span style="display:none" class="{{enclosure.slug}}_detail_table">
            <table class="encl_list_detailed_table">
              {% for k, v in encl_counts_dict.group_counts.items %}
                <tr>
                <td><b>{{k}}</b></td>
                <td>{{v}}</td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            — / —
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <div class="errorlist">
      No enclosures. Contact a manager to be added to a role
    </div>
  {% endif %}
  </div>

  {% if roles %}
  <div class="col s4 m4 right pin-top">
    <div class="collection with-header black-text">

      <div class="collection-header blue darken-4 white-text" style="border: 0px">
        <h5>Roles</h5>
      </div>

      <a href="/?view_all=true" class="collection-item blue lighten-5 black-text
        {% if selected_role == None %}
          active white-text accent-3
        {% endif %}
      " style="border: 0px; padding-left: 20px">View all</a>
      {% for role in roles %}
        <a href="?role={{role.slug}}" class="collection-item blue lighten-5 black-text
          {% if selected_role == role %}
            active white-text accent-3
          {% endif %}
        " style="border: 0px">{{role.name}}</a>
      {% endfor %}
    </div>
  {% endif %}
  </div>
</div>

{% include "paginate_counts.html" with page_items=enclosures %}

{% endblock %}
