{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">

  <div class="col s7">

    {% if enclosures %}

      <h3>Enclosures</h3>
      {% for enclosure in enclosures %}
      <p>
        <a class="waves-effect waves-light btn" href="{% url 'count' enclosure.slug %}">
          {{enclosure}}
        </a>
      <br />
        <em>{{enclosure.accession_numbers_observed}}/{{enclosure.accession_numbers_total}} entered</em>
      </p>
      {% endfor %}

    {% else %}

      <div class="errorlist">
      No enclosures. Contact a manager to be added to a role
      </div>

    {% endif%}

  </div>

{% if roles %}
  <div class="col s5 m4 right pin-top" style="margin-top: 42px">
    <div class="collection with-header black-text">

      <div class="collection-header blue darken-4 white-text" style="border: 0px">
        <h5>Roles</h5>
      </div>

      <a href="/?view_all=true" class="collection-item blue lighten-5 black-text
        {% if selected_role == None %}
          active white-text accent-3
        {% endif %}
      " style="border: 0px; padding-left: 20px">View all</a>
      {% for role in roles %}
        <a href="?role={{role.slug}}" class="collection-item blue lighten-5 black-text
          {% if selected_role == role %}
            active white-text accent-3
          {% endif %}
        " style="border: 0px">{{role.name}}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% include "paginate_counts.html" with page_items=enclosures %}

</div>

{% endblock %}
