{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
  <div class="col s7">
    <h3>Enclosures</h3>
    <ul class="enclosure-listing">
    {% for enclosure, encl_counts_dict in cts_dict.items %}
      <li class="row">
        <h6 class="center">
          <a class="waves-effect waves-light btn" href="{% url 'count' enclosure.slug %}">
            {{enclosure}}
          </a>
        </h6>

        <table class="centered">
          <thead>
            <th></th>
            <th>Counts</th>
            <th>Total</th>
          </thead>

          {% if enclosure.animals.all|length > 0 %}
          <tr>
            <td class="right">
              <a onclick="display_detail_table('{{enclosure.slug}}_conditions_table')" href="javascript:;">
                Animals
              </a>
            </td>
            <td>{{encl_counts_dict.animal_count_total}}</td>
            <td>{{encl_counts_dict.total_animals}}</td>
          </tr>
          {% endif %}

          {% if enclosure.groups.all|length > 0 %}
          <tr>
            <td class="right">
              <a onclick="display_detail_table('{{enclosure.slug}}_group_table')" href="javascript:;">
                Groups
              </a>
            </td>
            <td>{{encl_counts_dict.group_count_total}}</td>
            <td>{{encl_counts_dict.total_groups}}</td>
          </tr>
          {% endif %}

          <tr>
            <td class="right">Species</td>
            <td>{{encl_counts_dict.species_count_total}}</td>
            <td>{{encl_counts_dict.total_species}}</td>
          </tr>
        </table>

        <div style="display:none" id="{{enclosure.slug}}_conditions_table">
          <h6 class="center">Animal info</h6>
          <table class="centered">
            <thead>
              <tr>
              {% for cond in encl_counts_dict.animal_conditions.keys %}
                <th>{{cond}}</th>
              {% endfor %}
              </tr>
            </thead>
            <tr>
              {% for cond, cond_cts in encl_counts_dict.animal_conditions.items %}
                <td>{{ cond_cts|length }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>

        <div style="display:none" id="{{enclosure.slug}}_group_table">
          <h6 class="center">Group info</h6>
          <table class="centered">
            <thead>
              <tr>
              {% for k in encl_counts_dict.group_counts.keys %}
                <th>{{k}}</th>
              {% endfor %}
              </tr>
            </thead>
            <tr>
              {% for k, v in encl_counts_dict.group_counts.items %}
                <td>{{ v }}</td>
              {% endfor %}
            </tr>
          </table>
        </div>
      </li>
    {% empty %}
      <div class="errorlist">
        No enclosures. Contact a manager to be added to a role
      </div>
    {% endfor %}
    </ul>
  </div>

{% if roles %}
  <div class="col s5 m4 right pin-top" style="margin-top: 42px">
    <div class="collection with-header black-text">

      <div class="collection-header blue darken-4 white-text" style="border: 0px">
        <h5>Roles</h5>
      </div>

      <a href="/?view_all=true" class="collection-item blue lighten-5 black-text
        {% if selected_role == None %}
          active white-text accent-3
        {% endif %}
      " style="border: 0px; padding-left: 20px">View all</a>
      {% for role in roles %}
        <a href="?role={{role.slug}}" class="collection-item blue lighten-5 black-text
          {% if selected_role == role %}
            active white-text accent-3
          {% endif %}
        " style="border: 0px">{{role.name}}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% include "paginate_counts.html" with page_items=enclosures %}

</div>

{% endblock %}
