<td><b>{{anim.name}}</b> <em>({{anim.sex}})</em><br />{{anim.identifier}}<br />{{anim.accession_number}}</td>
<td>

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% include "condition_form_snippet.html"  with field=form.condition %}

</td>
{% for pcond in anim.prior_conditions %}
<td>
    {% if pcond.count %}
        {{pcond.count.get_condition_display}}
    {% else %}
        <span class="grey-text text-lighten-1">
            Not entered
        </span>
    {% endif %}
    <a href="{% url 'edit_animal_count' animal=anim.accession_number year=pcond.day.year month=pcond.day.month day=pcond.day.day %}">
    <i class="material-icons tiny-small">edit</i>
    </a>
</td>
{% endfor %}