{% extends "base.html" %}

{% block title %}Animal counts{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

<div id="chart-text-container">

    <div>
        <h4>{% if animal.name %}{{animal.name}}{% else %}{{animal.accession_number}}{% endif %}</h4>

        <p><b>Animal Accession Number:</b> {{animal.accession_number}}</p>
        {% if animal.name %}
        <p><b>Name:</b> {{animal.name}}</p>
        {% endif %}
        {% if animal.identifier %}
        <p><b>Identifier:</b> {{animal.identifier}}</p>
        {% endif %}
        <p><b>Species:</b> {{animal.species.common_name}}<em>({{animal.species.genus_name}} {{animal.species.species_name}})</em></p>
        <p><b>Enclosure:</b> <a href="{%url 'count' enclosure.slug %}">{{enclosure}}</a></p>
        <p><b>Sex:</b> {{animal.sex}}</p>
    </div>

    <div id="chart-div">
        {% if animal_counts %}
        <h2></h2>

        {% include "pie_chart.html" with labels=chart_labels data=chart_data title="Conditions" %}
        {% endif %}

    </div>
</div>


{% if animal_counts %}
<table class="striped">
<thead>
<tr>
    <th>Date
    <th>Condition
    <th>User
    <th>
</tr>
</thead>
<tbody>
{% for count in animal_counts %}
    <tr>
    <td>{{count.datetimecounted}}
    <td class="condition-{{count.condition}}">{{count.get_condition_display}}
    <td>{{count.user}}
    <td><a href="{% url 'edit_animal_count' animal=animal.accession_number year=count.datetimecounted|date:'Y' month=count.datetimecounted|date:'m' day=count.datetimecounted|date:'d' %}"><i class="material-icons">edit</i></a>
    </tr>
{% endfor %}
</tbody>
</table>

{% include "paginate_counts.html" with counts=animal_counts %}

{% endif %}

{% endblock %}