{% load static %}

<td><b>{{anim.name}}</b> <em>({{anim.sex}})</em><br />{{anim.identifier}}<br />{{anim.accession_number}}</td>
<td>
{{ form.as_ul }}
</td>
{% for pcond in anim.prior_conditions %}
<td>
    {% if pcond.count %}
        {{pcond.count.get_condition_display}}
    {% else %}
        Not Seen
    {% endif %}
    <a href="{% url 'edit_animal_count' animal=anim.accession_number year=pcond.day.year month=pcond.day.month day=pcond.day.day %}">
    <img class="edit" src="{% static 'images/edit.svg' %}">
    </a>
</td>
{% endfor %}