<td>
{% if anim.name %}<a href="{% url 'animal_counts' animal=anim.accession_number %}">{{anim.name}}</a>
<em>({{anim.sex}})</em><br />{% endif %}
{% if not anim.name %}<a href="{% url 'animal_counts' animal=anim.accession_number %}">{{anim.accession_number}}</a>
<em>({{anim.sex}})</em>
{% else %}
{{anim.accession_number}}
{% endif %}
<br />{{anim.identifier}}
</td>

<td>

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% include "condition_form_snippet.html"  with field=form.condition %}

</td>
{% for pcond in prior_conditions %}
<td>
    <p>
    <span class=
        {% if pcond.count and pcond.count.get_condition_display != "" %}
            {% if pcond.count.condition == "BA" %}
                "blue-text text-darken-2">
                {{pcond.count.get_condition_display}}
            {% elif pcond.count.condition == "SE" %}
                "teal-text text-lighten-1">
                {{pcond.count.get_condition_display}}
            {% elif pcond.count.condition == "NA" %}
                "red-text text-darken-2">
                {{pcond.count.get_condition_display}}
            {% else %}
                "orange-text text-darken-2">
                {{pcond.count.get_condition_display}}
            {% endif %}
        {% else %}
            "grey-text text-lighten-1">
                N/A
        {% endif %}
    </span>
    <a href="{% url 'edit_animal_count' animal=anim.accession_number year=pcond.day.year month=pcond.day.month day=pcond.day.day %}">
    <i class="material-icons tiny-small grey-text text-darken-4">edit</i>
    </a>
    </p>
    {% if pcond.count and pcond.count.comment %}
        <div class="condition-comment-p left-align">{{pcond.count.comment|escape|linebreaks}}</div>
    {% endif %}
</td>
{% endfor %}