<div class="fieldWrapper condition-radio">
    {% for radio in field %}
        <span>
        <label>
            {{radio.tag}}
            <span>{{ radio.choice_label }}</span>
        </label>
        </span>
    {% endfor %}

    {% for error in field.errors %}
        <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
    {% endfor %}
</div>

<div class="input-field" style="margin-top:2rem;margin-bottom:0rem">
    <textarea name="{{form.comment.html_name}}" id="{{form.comment.id_for_label}}" class="materialize-textarea" style="font-size:.8rem">{{form.comment.value}}</textarea>
    <label for="{{form.comment.id_for_label}}">Comment</label>
</div>