{% extends 'base.html' %}

{% block title %}Confirm changes{% endblock %}

{% block content %}

<h2>Confirm changes</h2>

<p>
<b>File</b>: {{upload_file}}
</p>

<h3>Enclosures</h3>
{% for enclosure in changesets.enclosures %}
    <p><b>Name:</b> {{enclosure}}</p>
{% endfor %}

<h4>Animals</h4>

{% regroup changesets.animals by action as animal_changeset_list %}

{% include "changeset_table_partial.html" with changeset_list=animal_changeset_list %}

<h4>Groups</h4>

{% regroup changesets.groups by action as group_changeset_list %}

{% include "changeset_table_partial.html" with changeset_list=group_changeset_list %}

<p>
<a class="waves-effect waves-light btn" href="{% url 'home' %}">
Cancel
</a>

<a class="waves-effect waves-light btn" href="{% url 'home' %}">
Confirm
</a>
</p>

{% endblock %}