{% extends 'base.html' %}

{% block title %}Confirm changes{% endblock %}

{% block content %}

<h2>Confirm changes</h2>

<p>
<b>File</b>: {{upload_file}}
</p>

<h3>Enclosures modified</h3>
{% for enclosure in changesets.enclosures %}
    <p>Enclosure: {{enclosure}}</p>
{% endfor %}

<h4>Animals modified</h4>
{% for anim_change in changesets.animals %}
    <p>
    Action: {{anim_change.action}}<br />
    Accession number: {{anim_change.object_kwargs}}
    </p>
{% endfor %}

<h4>Groups modified</h4>
{% for group_change in changesets.groups %}
    <p>{{group_change.object_kwargs}}</p>
{% endfor %}

<a class="waves-effect waves-light btn" href="{% url 'home' %}">
Cancel
</a>

<a class="waves-effect waves-light btn" href="{% url 'home' %}">
Confirm
</a>


{% endblock %}