{% extends 'base.html' %}

{% block title %}Edit Species Count{% endblock %}

{% block content %}

<h2>Edit Species Count</h2>

<p><b>Species:</b> {{species.common_name}}<em>({{species.genus_name}} {{species.species_name}})</em></td>
<p><b>Enclosure:</b> {{enclosure}}
<p><b>Date:</b> {{dateday.date}}</p>
<p><b>User:</b>
{% if count.user %}
    {{count.user}}
{% else %}
    None
{% endif %}
</p>

<form action="{% url 'edit_species_count' species.slug enclosure.slug dateday.year dateday.month dateday.day %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
    </p>
</form>

{% endblock %}