{% extends 'base.html' %}

{% block title %}Edit Animal Count{% endblock %}

{% block content %}

<p><b>Enclosure:</b> {{enclosure}}
<p><b>Species:</b> {{animal.species.common_name}}<em>({{animal.species.genus_name}} {{animal.species.species_name}})</em></td>
<p><b>Animal Accession Number:</b> {{animal.accession_number}}</p>
<p><b>Name:</b> {{animal.name}}</p>
<p><b>Identifier:</b> {{animal.identifier}}</p>
<p><b>Sex:</b> {{animal.sex}}</p>
<p><b>Date:</b> {{dateday.date}}

<form action="/edit_animal_count/{{animal.accession_number}}/{{dateday.year}}/{{dateday.month}}/{{dateday.day}}/" method="post">
    {% csrf_token %}

    {{form.as_p}}
    
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="Submit">
</form>

<p><b>User:</b> {{count.user}}</p>

{% endblock %}