{% extends 'base.html' %}

{% block title %}Edit Species Count{% endblock %}

{% block content %}

<p><b>Enclosure:</b> {{enclosure}}
<p><b>Species:</b> {{species.common_name}}<em>({{species.genus_name}} {{species.species_name}})</em></td>
<p><b>Date:</b> {{dateday.date}}

<form action="{% url 'edit_species_count' species.common_name enclosure.name dateday.year dateday.month dateday.day %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</form>

<p><b>User:</b> {{count.user}}</p>

{% endblock %}