{% extends "base.html" %}

{% block title %}Group counts{% endblock %}

{% block content %}

<nav class="clean">
    <div class="nav-wrapper">
        <div class="col s12 truncate">
            <a href="{% url 'home' %}" class="breadcrumb">Enclosures</a>
            <a href="{% url 'count' enclosure.slug %}" class="breadcrumb">{{enclosure}}</a>
            <a href="#" class="breadcrumb">{{group.species.common_name}}</a>
        </div>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

<div id="chart-text-container">

    <div>
        <p><b>Group Accession Number:</b> {{group.accession_number}}</p>
        <p><b>Common Name:</b> {{group.species.common_name}}</p>
        <p><b>Species:</b> <em>{{group.species.genus_name}} {{group.species.species_name}}</em></p>
        <p><b>Enclosure:</b> <a href="{%url 'count' enclosure.slug %}">{{enclosure}}</a></p>
        <p><b>Population Male</b> {{group.population_male}}</p>
        <p><b>Population Female</b> {{group.population_female}}</p>
        <p><b>Population Unknown</b> {{group.population_unknown}}</p>

    </div>


    <div id="chart-div" class="center-align">

        {% if chart_labels_line %}

        <div id="line-chart-opt" style="display: block">
            {% include "line_chart_groups.html" with labels=chart_labels_line title="Counts per day" %}
        </div>

        <div id="pie-chart-opt" style="display: none">
            {% include "pie_chart.html" with data=chart_data_pie labels=chart_labels_pie title="Total counted" %}
        </div>

        (last 100)

        <p>Chart:
        <a class="waves-effect waves-light btn-small disabled" href="#" id="line-chart-opt-btn" onclick="chartVisible('line-chart-opt')">Line</a>
        <a class="waves-effect waves-light btn-small" href="#" id="pie-chart-opt-btn" onclick="chartVisible('pie-chart-opt')">Pie</a>
        </p>
        {% endif %}

    </div>

</div>

{% if counts %}

<table class="striped">
<thead>
<tr>
    <th>Date
    <th>Male
    <th>Female
    <th>Unknown
    <th>Total
    <th>User
    <th>
</tr>
</thead>
<tbody>
{% for count in counts %}
    <tr>
    <td>{{count.datetimecounted}}
    <td>{{count.count_male}}</td>
    <td>{{count.count_female}}</td>
    <td>{{count.count_unknown}}</td>
    <td>{{count.total}}
    <td>{{count.user}}
    <td><a href="{% url 'edit_group_count' group=group.accession_number year=count.datetimecounted|date:'Y' month=count.datetimecounted|date:'m' day=count.datetimecounted|date:'d' %}"><i class="material-icons">edit</i></a>
    </tr>
{% endfor %}
</tbody>
</table>

{% include "paginate_counts.html" with counts=counts %}

{% endif %}

{% endblock %}