{% load static %}

<td></td>
<td>
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<div class="edit_group">
<span class="fieldWrapper">
    {{ form.count_male.errors }}
    <b>M</b><em>({{group.population_male}})</em><br />
    {{ form.count_male }}
</span>

<span class="fieldWrapper">
    {{ form.count_female.errors }}
    <b>F</b><em>({{group.population_female}})</em><br />
    {{ form.count_female }}
</span>

<span class="fieldWrapper">
    {{ form.count_unknown.errors }}
    <b>U</b><em>({{group.population_unknown}})</em><br />
    {{ form.count_unknown }}
</span>
</div>
</td>

{% for count in group.prior_counts %}
<td>
    <div class="group_prior_counts">
        <span>M<br />{{ count.count.count_male|default:"0" }}</span>
        <span>F<br />{{ count.count.count.female|default:"0" }}</span>
        <span>U<br />{{ count.count.count_unknown|default:"0" }}</span>
        <span>
            <a href="{% url 'edit_group_count' group=group.accession_number year=count.day.year month=count.day.month day=count.day.day %}">
            <i class="material-icons tiny-small">edit</i>
            </a>
        </span>
    </div>
</td>
{% endfor %}