{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<p>
    <b>Total</b>: {{group.population_total}}
</p>

{{ form.count_seen.errors }}
<div class="row" style="display: flex; flex-direction: row; margin-bottom: 0px">
    <span class="valign-wrapper"><b>Seen</b>: </span>
    
    <p class="range-field" style="margin: 0 1rem">
        <input type="range" class="count_seen_slider" id="{{form.count_seen.id_for_label}}_slider"
        min="0" max="{{group.population_total}}" value="{{form.count_seen.value}}"/>
    </p>
    
    <span class="fieldWrapper">
        {{ form.count_seen }}
    </span>
</div>

{{ form.count_bar.errors }}
<div class="row" style="display: flex; flex-direction: row; margin-bottom: 0px">
    <span class="valign-wrapper"><b>BAR</b>: </span>
    
    <p class="range-field" style="margin: 0 1rem">
        <input type="range" class="count_bar_slider" id="{{form.count_bar.id_for_label}}_slider" 
        min="0" max="{{form.count_seen.value}}" value="{{form.count_bar.value}}"/>
    </p>

    <span class="fieldWrapper">
        {{ form.count_bar}}
    </span>
</div>


<div class="row" style="margin-bottom: 0px">
<span class="fieldWrapper">
    {{form.needs_attn.errors}}
    <label for="{{form.needs_attn.id_for_label}}">
        <input type="checkbox" name="{{form.needs_attn.html_name}}" id="{{form.needs_attn.id_for_label}}"
            class="checkbox-red" {% if form.needs_attn.value %}checked = ""{% endif %}>
        <span>Needs Attention</span>
    </label>
</span>
</div>

<div class="input-field count-comment row" style="margin-bottom: 0">
    {{ form.comment.errors }}
    <textarea name="{{form.comment.html_name}}" id="{{form.comment.id_for_label}}" class="materialize-textarea" style="font-size:.8rem">{{form.comment.value}}</textarea>
    <label for="{{form.comment.id_for_label}}">Comment</label>
</div>