<canvas id="line-chart" width="400" height="400"></canvas>

<script>
new Chart(document.getElementById("line-chart"), {
type: 'line',
data: {
    labels: {{labels|safe}},
    datasets: [
        {
            label: "Total",
            lineTension: 0,           
            data: {{chart_data_line_total}},
            fill: false,
            borderColor: "#222"
        },
        {
            label: "Seen",
            lineTension: 0,           
            data: {{chart_data_line_seen}},
            fill: false,
            borderColor: "#1976d2"
        },
        {
            label: "BAR",
            lineTension: 0,           
            data: {{chart_data_line_bar}},
            fill: false,
            borderColor: "#26a69a"
        },
    ]
    },
    options:{
        title: {
            display: true,
            text: '{{title}}'
        },
    },
});
</script>