<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>

<div id="pie-chart-div">

<h2></h2>

<canvas id="pie-chart" width="400" height="400"></canvas>

<script>
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: [{% for ll in labels %}"{{ ll }}", {% endfor %}],
      datasets: [{
        label: "Counts",
        backgroundColor: ["#1976d2", "#26a69a","#d32f2f", "#f57c00"],
        data: [
        {% for item in chart_data %}{{item}}, {% endfor %}
        ]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Conditions'
      },
      legend: {
            display: true,
            position: "top"
        },
      responsive: true,
    }
});

</script>

</div>