<tr class="species">
<td>
    <b>
    {% if not group_form %}
        <a href="{% url 'species_counts' species.slug enclosure.slug %}">
        {{species.common_name}}</a>
    {% else %}
        {{species.common_name}}
    {% endif %}
    </b><br/>
    <em>({{species.genus_name}} {{species.species_name}})</em>
</td>
{% if not group_form %}
<td>
{% else %}
<td>
{% endif %}
    {% if not group_form %}
        {% for field in form.hidden_fields %}
            {{field}}
        {% endfor %}
        <p>
        {% include "increment_decrement_buttons.html" with formfield=form.count %}
        </p>
    {% else %}
        <div style="display:none">
        {{form.as_p}}
        </div>
    {% endif %}
</td>

{% for daycount in prior_counts %}
<td>
    {% if not group_form %}
    <p>
        {{daycount.count}}
        <a href="{% url 'edit_species_count' species_slug=species.slug enclosure_slug=enclosure.slug year=daycount.day.year month=daycount.day.month day=daycount.day.day %}">
        <i class="tiny-small material-icons">edit</i>
        </a>
    </p>
    {% endif %}
</td>
{% endfor %}
</tr>
