{% load static %}

<thead class="species">
<td>
    <b>{{species.common_name}}</b><br/>
    <em>({{species.genus_name}} {{species.species_name}})</em>
</td>
<td>
    {{form.as_p}}
</td>

{% for daycount in prior_counts %}
<td>
    {{daycount.count}}
    <a href="{% url 'edit_species_count' species=species.common_name enclosure=enclosure.name year=daycount.day.year month=daycount.day.month day=daycount.day.day %}">
    <i class="material-icons tiny-small">edit</i>
    </a>
</td>
{% endfor %}
</thead>
