{% extends 'base.html' %}

{% block title %}Count{% endblock %}

{% block content %}

{% load template_tags %}

<h2>{{enclosure}}</h2>

{{species_formset.non_form_errors}}
{{animals_formset.non_form_errors}}
{{groups_formset.non_form_errors}}

<form action="{% url 'count' enclosure.slug %}" method="post">
    {% csrf_token %}
    {{species_formset.management_form}}
    {{animals_formset.management_form}}
    {{groups_formset.management_form}}

    <table class="striped">
    <thead>
        <tr class="blue-grey lighten-4">
            <th>Name</th>
            <th>Today's Count</th>
            {% for i in -1|range:"-4,-1" %}
                <th>{{i|addDays|date:"M d"}}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
    {% for spec_dict in formset_order.values %}
        {% include "species_count_form_snippet.html" with form=spec_dict.formset species=spec_dict.species prior_counts=spec_dict.prior_counts group_form=spec_dict.group_forms %}

        {% for group_form_dict in spec_dict.group_forms %}
            <tr class="green lighten-4">
                {% include "group_form_snippet.html" with form=group_form_dict.form group=group_form_dict.group %}
            </tr>
        {% endfor %}
        
        {% for anim, ff in spec_dict.animalformset_index %}
            <tr>
            {% include "animal_form_snippet.html" with form=ff %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
    </table>

    <div class="fixed-action-btn">
        <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
            <i class="material-icons">send</i>
        </button>
    </div>
</form>

{% endblock %}
