{% extends 'base.html' %}

{% block title %}Count{% endblock %}

{% block content %}
<h2>{{enclosure}}</h2>

<form action="/count/{{enclosure.name}}" method="post">
    {% csrf_token %}
    {{species_formset.management_form}}
    {{animals_formset.management_form}}
    {{groups_formset.management_form}}

    <table class="mdl-data-table">
    {% for spec_dict in formset_order.values %}
        <tbody>
        {% include "species_count_form_snippet.html" with form=spec_dict.formset species=spec_dict.species prior_counts=spec_dict.prior_counts %}

        {% if spec_dict.group_form %}
        <tr>
            {% include "group_form_snippet.html" with form=spec_dict.group_form group=spec_dict.group %}
        </tr>
        {% endif %}
        
        {% for anim, ff in spec_dict.animalformset_index %}
            <tr>
            {% include "animal_form_snippet.html" with form=ff %}
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
    </table>
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="Submit">
</form>

{% endblock %}
