{% extends 'base.html' %}

{% block title %}Count{% endblock %}

{% block content %}
<h2>{{enclosure}}</h2>

<form action="{% url 'count' enclosure.slug %}" method="post">
    {% csrf_token %}
    {{species_formset.management_form}}
    {{animals_formset.management_form}}
    {{groups_formset.management_form}}

    <table class="striped">
    <tbody>
    {% for spec_dict in formset_order.values %}
        {% include "species_count_form_snippet.html" with form=spec_dict.formset species=spec_dict.species prior_counts=spec_dict.prior_counts group_form=spec_dict.group_form %}

        {% if spec_dict.group_form %}
        <tr class="red lighten-5">
            {% include "group_form_snippet.html" with form=spec_dict.group_form group=spec_dict.group %}
        </tr>
        {% endif %}
        
        {% for anim, ff in spec_dict.animalformset_index %}
            <tr>
            {% include "animal_form_snippet.html" with form=ff %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
    </table>

    <div class="fixed-action-btn">
        <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
            <i class="material-icons">send</i>
        </button>
    </div>
</form>

{% endblock %}
