{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if enclosures|length > 0 %}

<div class="row">

<div class="col s7">

<h3>Enclosures</h3>

{% for enclosure in enclosures %}
<p>
  <a class="waves-effect waves-light btn" href="{% url 'count' enclosure.slug %}">
    {{enclosure}}
  </a>
  <em>{{enclosure.accession_numbers_observed}}/{{enclosure.accession_numbers_total}} obs.</em>
</p>
{% endfor %}

{% include "paginate_counts.html" with page_items=enclosures %}

{% else %}

<div class="errorlist">
No enclosures found. Contact an admin to have them add you to an enclosure
</div>

{% endif%}

</div>

{% if roles %}

<div class="col s5 m4">
  <div class="collection with-header">
    <div class="collection-header lighten-4"><h5>Roles</h5></div>
    
    <a href="/" class="collection-item indigo lighten-5">All<a/>
    {% for role in roles %}
      <a href="?role={{role.name}}" class="collection-item indigo lighten-4 black-text
        {% if selected_role == role %}
        active accent-2 white-text
        {% endif %}
      " >{{role.name}}</a>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock %}